// Place all the styles related to the Warehouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.outer-space-background-color{
  background-color: $outer-space;
}

.outer-space-color{
  color: $outer-space;
}

.red-color {
  color: $red;
}
