<% if errors.any? %>
<div class="error-explanation pt-4 pb-4 mb-4">
  <h2><%= pluralize(errors.count, "error") %> prohibited this warehouse from being saved:</h2>

  <ul>
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
