$white: #ffffff;
$mine-shaft: #333333;
$gallery: #EEEEEE;
$black: #000000;
$dove-gray: #666666;
$green: green;
$red: red;
$guardsman-red: #C00000;
$outer-space: #343A40;
$bg-gray-table: #435D7D;
$delete-color: #f6564b;
$edit-color: #ffc72f;
