.error-explanation {
  background-color: $gallery;
  border: 2px solid $red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  width: 450px;
}

.error-explanation h2 {
  background-color: $guardsman-red;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  margin: -7px -7px 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
}

.error-explanation ul li {
  font-size: 12px;
  list-style: square;
}
